:root {
  /* Typography */
  --light-bg-color: #efefee;
  --white-bg-color: #fff;
  --dark-bg-color: #141414;

  --border-color: #dedede;
  --register-btn-bg-color: #4285f4;
  --save-profile-btn-bg-color: #dc1928;

  --check-icon-color: #2ecc71;

  --white-text-color: #fff;
  --netflix-off-white-text-color: #e5e5e5;
  --std-black-text-color: #000;
  --secondary-black-text-color: #333;

  --success-text-color: #2ecc71;
  --error-text-color: #f00;

  --min-view-width: 1050px
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary-black-text-color);
  box-sizing: border-box;
}

h3 {
  color: var(--netflix-off-white-text-color);
}

a h3:hover {
  color: var(--white-text-color);
}

a {
  text-decoration: none;
}

.wrapper {
  min-width: var(--min-view-width);
  min-height: 100%;
  background-color: var(--dark-bg-color);
}


/* Style for register and login pages */

.signInContainer {
  background-color: var(--light-bg-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  background-color: var(--white-bg-color);
  min-height: 300px;
  max-height: 100%;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  padding: 20px 35px;
  overflow-y: auto;
}

.column form {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"] {
  font-size: 14px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid var(--border-color);
}

.column form input[type="submit"] {
  background-color: var(--register-btn-bg-color);
  color: var(--white-text-color);
  height: 36px;
  width: 88px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.column .header {
  padding: 20px 0;
}

.column h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  padding-top: 16px;
  color: var(--std-black-text-color);
}

.column .header span {
  font-size: 14px;
}

.column .header img {
  width: 100px;
}

.signInMessage {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.errorMessage {
  color: var(--error-text-color);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}


/* Styles for the preview part of index page */

.previewImage,
.previewVideo {
  width: 100%;
}

.previewContainer {
  position: relative;
  display: flex;
}

.previewContainer.small {
  width: 230px;
  height: 129px;
  margin-right: 4px;
  display: inline-flex;
}

.previewContainer.small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.previewOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.previewOverlay .mainDetails h1 {
  color: #fff;
  font-size: 40px;
  margin: 15px 0;
}

.previewOverlay .mainDetails h4 {
  color: #fff;
  font-size: 20px;
  margin: 15px 0;
}

.previewOverlay .mainDetails {
  position: relative;
  top: 35%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}


/* Style preview buttons */

.mainDetails button {
  background-color: rgba(51, 51, 51, 0.4);
  color: #fff;
  border: none;
  min-width: 150px;
  padding: 0 38px;
  height: 50px;
  max-height: 50px;
  font-size: 18px;
  border-radius: 2px;
  margin-bottom: 15px;
  margin-right: 5px;
  cursor: pointer;
}

button i {
  color: inherit;
}

.mainDetails button:hover {
  background-color: #e6e6e6;
  color: #000;
}

.category {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.entities,
.videos {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.previewCategories {
  padding: 0 50px;
}

/* When no ID gets passed to URL */
.errorBanner {
  color: #fff;
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}


/* For Entity page */

.season {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
}

.episodeContainer {
  display: inline-flex;
  justify-content: center;
  margin-right: 4px;
}

.episodeContainer .contents {
  display: flex;
  flex-direction: column;
  width: 230px;
  position: relative;
}

.episodeContainer img {
  width: 230px;
  height: 129px;
  object-fit: cover;
}

.episodeContainer .videoInfo h4,
.episodeContainer .videoInfo span {
  color: #fff;
  width: 100%;
  white-space: normal;
}

.episodeContainer .videoInfo {
  max-height: 200px;
  overflow-y: auto;
}

.previewCategories.noScroll .category .entities {
  white-space: normal;
}


/* watch Video page */

.watchContainer {
  position: relative;
}

.watchContainer video {
  width: 100%;
}

.videoControls {
  position: absolute;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.videoControls h1 {
  color: var(--white-bg-color);
}

.videoControls button {
  font-size: 50px;
  padding: 50px;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.videoControls button i:hover {
  color: #e6e6e6;
}


/* Up Next video styles */

.upNext {
  height: 100%;
  justify-content: center;
}

.upNextContainer button {
  padding: 0;
}

.upNextContainer h2,
.upNextContainer h3 {
  color: var(--white-text-color);
}

.watchNav {
  z-index: 2;
}

.upNext .replayBtn {
  margin-right: 15px;
}


/* Check icon for watched videos */

.seen {
  color: var(--check-icon-color);
  font-size: 26px;
  position: absolute;
  top: 5px;
  left: 5px;
}


/* Navigation bar */

.topBar {
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0 60px;
  height: 70px;
  box-sizing: border-box;
  min-width: var(--min-view-width);
  transition: background-color 200ms linear;
}

.topBar.scrolled {
  background-color: var(--dark-bg-color);
  transition: background-color 200ms linear;
}

.logoContainer {
  height: 40px;
}

.logoContainer img {
  height: 100%;
}

.navLinks {
  display: flex;
  list-style: none;
}

.navLinks li a {
  color: var(--white-text-color);
  font-size: 14px;
  margin-left: 20px;
}

.rightNavItems {
  flex: 1;
  text-align: right;
}

.rightNavItems i {
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
}


/* TV Show, Movie, Category page */

.previewCategories h1 {
  color: var(--netflix-off-white-text-color);
}


/* Search page */

.textBoxContainer {
  padding: 100px 50px;
}

.searchInput {
  height: 50px;
  width: 600px;
  border: 1px solid var(--border-color);
  background: transparent;
  color: var(--white-text-color);
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 3px;
}


/* Profile page */

.settingsContainer {
  padding-top: 60px;
  background-color: transparent;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.settingsContainer h2 {
  color: var(--white-text-color);
  margin-top: 0;
}

.settingsContainer .formSection {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 20px;
}

.settingsContainer form input[type="text"],
.settingsContainer form input[type="email"],
.settingsContainer form input[type="password"] {
  width: 300px;
  height: 40px;
  font-size: 15px;
  margin: 5px 0;
  border: none;
  border-radius: 3px;
  padding: 0 5px;
}

.settingsContainer form input[type="submit"] {
  background-color: var(--save-profile-btn-bg-color);
  width: 100px;
  height: 40px;
}

.alertSuccess,
.alertError {
  margin: 10px 0;
}

.alertSuccess {
  color: var(--success-text-color);
}

.alertError {
  color: var(--error-text-color);
}