:root {
  /* Typography */
  --light-bg-color: #efefee;
  --white-bg-color: #fff;
  --dark-bg-color: #141414;

  --border-color: #dedede;
  --btn-bg-color: #4285f4;

  --white-text-color: #fff;
  --netflix-off-white-text-color: #e5e5e5;
  --std-black-text-color: #000;
  --secondary-black-text-color: #333;
  --error-text-color: #f00;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary-black-text-color);
  box-sizing: border-box;
}

h3 {
  color: var(--netflix-off-white-text-color);
}

a h3:hover {
  color: var(--white-text-color);
}

a {
  text-decoration: none;
}

.wrapper {
  min-width: 1050px;
  min-height: 100%;
  background-color: var(--dark-bg-color);
}


/* Style for register and login pages */

.signInContainer {
  background-color: var(--light-bg-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  background-color: var(--white-bg-color);
  min-height: 300px;
  max-height: 100%;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  padding: 20px 35px;
  overflow-y: auto;
}

.column form {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"] {
  font-size: 14px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid var(--border-color);
}

.column form input[type="submit"] {
  background-color: var(--btn-bg-color);
  color: var(--white-text-color);
  height: 36px;
  width: 88px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.column .header {
  padding: 20px 0;
}

.column h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  padding-top: 16px;
  color: var(--std-black-text-color);
}

.column .header span {
  font-size: 14px;
}

.column .header img {
  width: 100px;
}

.signInMessage {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.errorMessage {
  color: var(--error-text-color);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}


/* Styles for the preview part of index page */

.previewImage,
.previewVideo {
  width: 100%;
}

.previewContainer {
  position: relative;
  display: flex;
}

.previewContainer.small {
  width: 230px;
  height: 129px;
  margin-right: 4px;
  display: inline-flex;
}

.previewContainer.small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.previewOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.previewOverlay .mainDetails h1 {
  color: #fff;
  font-size: 40px;
  margin: 15px 0;
}

.previewOverlay .mainDetails {
  position: relative;
  top: 35%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}


/* Style preview buttons */

.mainDetails button {
  background-color: rgba(51, 51, 51, 0.4);
  color: #fff;
  border: none;
  min-width: 150px;
  padding: 0 38px;
  height: 50px;
  max-height: 50px;
  font-size: 18px;
  border-radius: 2px;
  margin-bottom: 15px;
  margin-right: 5px;
  cursor: pointer;
}

button i {
  color: inherit;
}

.mainDetails button:hover {
  background-color: #e6e6e6;
  color: #000;
}

.category {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.entities {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}